* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    top: 10px;
    display: flexbox;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: filter 0ms ease-in-out 0ms;
}

.topcontainer {
    display: flexbox;
    position: relative;
    background-size: cover;
    background-position: center;
}

.topcontainer #topbackground {
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 600px;
    width: 600px;
    height: 1515px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    transform: matrix(0, -1, 1, 0, 0, 0);
}

.topcontainer #topimage {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 700px;
    height: 500px;
    background-size: cover;
}

.topcontainer #join {
    position: absolute;
    top: 120px;
    color: black;
    font-family: garamond pre;
    font-style: normal;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 85px;
    padding-left: 2cm;
}

.topcontainer #embrace {
    display: flex;
    position: absolute;
    padding-left: 2cm;
    top: 340px;
    font-size: 20px;
}

.topcontainer #signup {
    position: relative;
  font-size: 18px;
  color:white;
  font-weight: bold;
  height: 45px;
  padding: 10px 20px;
  background: maroon;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s all ease;
  top:450px;
  left: 2cm;
  border:none;
}

.popup .close-btn{
    position: absolute;
    top:-5px;
    right:10px;
    width:20px;
    height:20px;
    background: #dad9d9;
    color:#111;
    border:none;
    outline:none;
    border-radius: 50px;
    cursor:pointer;
    font-weight: bold;
  }
  
  .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:450px;
    height:500px;
    padding:20px;
    background:rgb(246, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1) ; 
    margin-top: 300px; 
    z-index:10;
    display: none;
  }
  .popup > *{
    margin: 15px 0px;
    text-align: center;
  }
   
  .popup h2{
    padding-bottom: 12px;
    font-size: 35px;
    position: relative;
  }
  
  .input-row{
    display: flex;
    margin-top: -24px;
  }
  
  .input-field{
    background-color: #dad9d9;
    display: flex;
    margin: 24px 15px;
    border-radius: 3px;
    align-items: center;
  }
  
  .input-field i{
    margin-left: 15px;
  }
  input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 12px 15px;
  }
  
  .ca{
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }
  
  form #createaccount{
    position: absolute;
    display: flex;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .loginpopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:450px;
    height:500px;
    padding:20px;
    background:rgb(246, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1) ; 
    margin-top: 300px; 
    z-index:10;
    display: none;
  }
  .loginpopup > *{
    margin: 15px 0px;
    text-align: center;
  }
  .loginpopup h2{
    padding-bottom: 12px;
    font-size: 35px;
    position: relative;
  }
  .loginpopup .close-btn{
    position: absolute;
    top:-5px;
    right:10px;
    width:20px;
    height:20px;
    background: #dad9d9;
    color:#111;
    border:none;
    outline:none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  
  .submit button:hover {
    color: white;
    cursor: pointer;
    border: 0px;
  }
  
  .submit button:active {
    transform: scale(0.85);
  }
  
  .submit button:before {
    content: "";
    width: 50%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: -50%;
    top: -100%;
    background:  #6b1313;
    transition: all 0.6s ease;
    z-index: -1;
  }
  
  .submit button:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: rotate(180deg);
  }
  
  .submit button:after {
    content: "";
    width: 50%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 100%;
    top: 100%;
    background: #6b1313;
    transition: all 0.6s ease;
    z-index: -1;
  }
  
  .submit button:hover:after {
    top: 0;
    left: 50%;
    border: 0px;
    transform: rotate(180deg);
  }
.content{
    position: absolute;
    top: 100%;
    left:10%
}

.card {
    margin-bottom: 20px;
    border: 2px solid black;
}

.card {
    display: inline-block;
    width: 100%;
}

.card-img-top {
    width: 100%;
}

.card-body {
    flex: 1 1 auto;
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
}

.button {
    background-color: rgb(147, 4, 4);
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}