<div class="scrollable">
    <div class="body">
        <div class="topbackground"></div>
        <div class="image-overlay"></div>
        <p id="join">Join our <br>community<br></p>
        <p id="embrace">Embrace spiritual growth! <br>Discover events, centers, classes, and volunteering, igniting your
            soul's journey.<br> Unite with a like-minded community, seeking higher meaning and inner peace.
            <br><br>Sign up now and be part of our dynamic journey together<br>
        </p>

    </div>
    <div class="submit">
        <button type="submit" id="signup">SIGN UP</button>
    </div>
</div>