* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  top: 10px;
  display: flexbox;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: filter 0ms ease-in-out 0ms;
  background-color: rgb(242, 220, 190);
}

.topcontainer {
  display: flexbox;
  position: relative;
  background-size: cover;
  background-position: center;
}

.topcontainer #topbackground {
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 600px;
  width: 600px;
  height: 1515px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  transform: matrix(0, -1, 1, 0, 0, 0);
}

.topcontainer #topimage {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 700px;
  height: 500px;
  background-size: cover;
}

.topcontainer #join {
  position: absolute;
  top: 120px;
  color: black;
  font-family: garamond pre;
  font-style: normal;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 85px;
  padding-left: 2cm;
}

.topcontainer #embrace {
  display: flex;
  position: absolute;
  padding-left: 2cm;
  top: 340px;
  font-size: 20px;
}

.topcontainer #signup {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: bold;
  height: 45px;
  padding: 10px 20px;
  background: maroon;
  overflow: hidden;
  border-radius: 10px;
  z-index: 0;
  transition: 0.5s all ease;
  top: 450px;
  left: 2cm;
  border: none;
}

.popup .close-btn {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #dad9d9;
  color: #111;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding: 20px;
  background: rgb(246, 240, 240);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 300px;
  z-index: 10;
  display: none;
}
.popup > * {
  margin: 15px 0px;
  text-align: center;
}

.popup h2 {
  padding-bottom: 12px;
  font-size: 35px;
  position: relative;
}

.input-row {
  display: flex;
  margin-top: -24px;
}

.input-field {
  background-color: #dad9d9;
  display: flex;
  margin: 24px 15px;
  border-radius: 3px;
  align-items: center;
}

.input-field i {
  margin-left: 15px;
}
input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 12px 15px;
}

.ca {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

form #createaccount {
  position: absolute;
  display: flex;
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.loginpopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding: 20px;
  background: rgb(246, 240, 240);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 300px;
  z-index: 10;
  display: none;
}
.loginpopup > * {
  margin: 15px 0px;
  text-align: center;
}
.loginpopup h2 {
  margin-top: 18px;
  font-size: 35px;
  position: relative;
}
.loginpopup h3 {
  margin-top: 40px;
}
.loginpopup p{
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.loginpopup .close-btn {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #dad9d9;
  color: #111;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.submit button:hover {
  color: white;
  cursor: pointer;
  border: 0px;
}

.submit button:active {
  transform: scale(0.85);
}

.submit button:before {
  content: "";
  width: 50%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  top: -100%;
  background: #136b13;
  transition: all 0.6s ease;
  z-index: -1;
}

.submit button:hover:before {
  top: 0;
  left: 0;
  border: 0px;
  transform: rotate(180deg);
}

.submit button:after {
  content: "";
  width: 50%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  top: 100%;
  background: #131a6b;
  transition: all 0.6s ease;
  z-index: -1;
}

.submit button:hover:after {
  top: 0;
  left: 50%;
  border: 0px;
  transform: rotate(180deg);
}
.content1 {
  position: absolute;
  top: 90%;
  left: 10%;
  overflow-x: scr;
  max-width: 1200px;
}

.content2 {
  position: absolute;
  top: 150%;
  left: 10%;
  overflow-x: scr;
  max-width: 1200px;
}

#seva-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.seva-card {
  width: 30%;
  margin: 10px 5px;
  padding: 15px;
  background-color: rgb(241, 240, 240);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.seva-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.seva-card h2 {
  font-size: 20px;
  text-align: left;
  margin: 5px 0;
}

.seva-card p {
  text-align: left;
  margin-bottom: 10px;
}

.seva-card a {
  display: inline-block;
  background-color: maroon;
  color: #fff;
  padding: 6px 8px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.seva-card a:hover {
  background-color: #555;
}


.button {
  display: flex;
  background-color: rgb(147, 4, 4);
  border: none;
  color: white;
  padding: 8px 10px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  /* height: 10px; */
  /* width:10px; */
}
.scroll-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.scroll-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: max-content;
  white-space: nowrap;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-content::-webkit-scrollbar {
  height: 4px;
}
.scroll-content::-webkit-scrollbar-track { 
  border-radius: 5px;
}
.scroll-content::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 5px;
}
.scroll-content::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}