<main>
    <section id="seva-cards">
        <div class="seva-card">
            <img src="assets/Tulsi.jpg" alt="Tulsi Seva">
            <h2>Tulasi Archana Seva</h2>
            <p>Description of Seva 1.</p>
            <a href="donate.html">Donate</a>
        </div>
        <div class="seva-card">
            <img src="assets/Abhishekam.jpg" alt="Abhishekam Seva">
            <h2>Abhishekam Seva</h2>
            <p>Description of Seva 2.</p>
            <a href="donate.html">Donate</a>
        </div>
        <div class="seva-card">
            <img src="assets/Abhishekam.jpg" alt="Abhishekam Seva">
            <h2>Abhishekam Seva</h2>
            <p>Description of Seva 2.</p>
            <a href="donate.html">Donate</a>
        </div>
        <div class="seva-card">
            <img src="assets/Abhishekam.jpg" alt="Abhishekam Seva">
            <h2>Abhishekam Seva</h2>
            <p>Description of Seva 2.</p>
            <a href="donate.html">Donate</a>
        </div>
        <div class="seva-card">
            <img src="assets/Abhishekam.jpg" alt="Abhishekam Seva">
            <h2>Abhishekam Seva</h2>
            <p>Description of Seva 2.</p>
            <a href="donate.html">Donate</a>
        </div>
        <div class="seva-card">
            <img src="assets/Abhishekam.jpg" alt="Abhishekam Seva">
            <h2>Abhishekam Seva</h2>
            <p>Description of Seva 2.</p>
            <a href="donate.html">Donate</a>
        </div>
        <!-- Add more seva cards as needed -->
    </section>
</main>