*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat;
}
nav{
    height:80px;
    width: 100%;
}

.logo{
    width:70px; 
    height:70px;
    margin-left: 10%;
}
a{
    color: black;
}

.item:hover{
    background: lightslategrey;
    color:white;
    cursor:pointer;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background: grey;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
}