* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: -40px
}

.navbar {
    display: flex;
    background-color: lightgrey;
    width: 100%;
    margin-top: 40px;
}

.rightnav {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navicons {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navicons li {
    padding: 12px 16px;
    cursor: pointer;
}

.navlist li a:hover,
a:active {
    color: maroon;
    font-weight: 900;
    cursor: pointer;
}

.navlist {
    width: 80%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navlist li {
    padding: 26px 20px;
    font-weight: 400;
    font-size: large;
    color:black
}
.navlist a{
    color: rgb(31, 31, 157);
}

.logo {
    display: flex;
    justify-content: centre;
    align-items: centre;
    padding: 10px;
}

.logo img {
    width: 100%;
}

.signin button {
    display: inline-block;
    color: white;
    background-color: maroon;
    width: 70px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border:none;
}

.signin {
    align-items: center;
    
}