<nav class="icons">
    <img src="assets/logo.png" class="logo" alt="Iskcon-logo">
    <ul>
        <li><a href="" target="_blank"><img src="assets/link-icon.svg" alt=""></a></li>
        <li><a href="https://goo.gl/maps/h4YpzMbDYoceuHKJ8" target="_blank"><img src="assets/link-map.svg" alt=""></a>
        </li>
        <li> <a href="https://www.facebook.com/p/Iskcon-Kannamangala-100083562930704/" target="_blank"><img
                    src="assets/link-fb.svg" alt=""></a></li>
        <li> <a href="https://www.youtube.com/@iskconwhitefieldcongregation" target="_blank"><img
                    src="assets/link-yt.svg" alt=""></a></li>
        <li> <a href="https://www.instagram.com/ISKCONBangaloreTemple/" target="_blank"><img src="assets/link-ig.svg"
                    alt=""></a></li>
        <li> <a href="" target="_blank"><img src="assets/link-contact.svg" alt="" /></a></li>
    </ul>
</nav>
<nav class="pages">
    <ul>
        <li><a class="item" routerLink="">Events</a></li>
        <li><a class="item" routerLink="/aboutus">About Us</a></li>
        <li><a class="item" routerLink="/sp">Srila Prabhupada</a></li>
        <li><a class="item" routerLink="/temple">Temple</a></li>
        <li><a class="item" routerLink="/donations">Donations</a></li>
    </ul>
</nav>