<header>
    <nav class="navbar">
        <ul class="navlist">
            <div class="logo">
                <img src="assets/logo.png" class="logo" alt="Iskcon-logo" width="80px" height="90px" />
            </div>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">Events</a></li>
            <li><a routerLink="/sp">Srila Prabhupada</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/temple">Temple</a></li>
            <li><a routerLink="/donations">Donate</a></li>
        </ul>
        <div class="rightnav">
            <ul class="navicons">
                <li>
                    <a href="" target="_blank"><img src="assets/link-icon.svg" alt="" /></a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/h4YpzMbDYoceuHKJ8" target="_blank"><img src="assets/link-map.svg"
                            alt="" /></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/p/Iskcon-Kannamangala-100083562930704/" target="_blank"><img
                            src="assets/link-fb.svg" alt="" /></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@iskconwhitefieldcongregation" target="_blank"><img
                            src="assets/link-yt.svg" alt="" /></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ISKCONBangaloreTemple/" target="_blank"><img
                            src="assets/link-ig.svg" alt="" /></a>
                </li>
                <li>
                    <a href="" target="_blank"><img src="assets/link-contact.svg" alt="" /></a>
                </li>
            </ul>
            <div class="signin">
                <button type="submit" id="login" routerLink="">LOG IN</button>
            </div>
        </div>
    </nav>
</header>