<img src="assets/sp1.jpg" id="sp-image1">
<p id="content">A. C. Bhaktivedanta Swami Prabhupada, commonly known as Srila Prabhupada, was a prominent spiritual
    teacher, philosopher, and the founder-acharya (spiritual master) of the International Society for Krishna
    Consciousness (ISKCON), also known as the Hare Krishna movement. He was born on September 1, 1896, in Calcutta,
    India, and he passed away on November 14, 1977, in Vrindavan, India.
    Srila Prabhupada is best known for his efforts to spread the teachings of Bhakti Yoga and the practice of devotional
    service (bhakti) to Lord Krishna as outlined in the ancient Indian scriptures, especially the Bhagavad Gita and the
    Srimad Bhagavatam. He considered his mission to be the dissemination of the timeless wisdom of the Vedic tradition
    to people all over the world.
    In 1965, at the age of 69, Srila Prabhupada journeyed to the United States, arriving in New York City with a small
    amount of money, a few translations of sacred texts, and a burning desire to share the teachings of Krishna
    consciousness. Despite facing numerous challenges and setbacks, he persevered and gradually attracted a following of
    dedicated students and disciples. Under his guidance, ISKCON centers were established in various parts of the world.
    Srila Prabhupada's teachings emphasized the practice of mantra meditation, particularly the chanting of the Hare
    Krishna mantra, as a means to develop a loving relationship with the divine. He stressed the importance of living a
    simple and disciplined life, centered around spiritual principles and service to God.
    Throughout his life, Srila Prabhupada authored numerous books and translated important Vedic texts into English,
    making these teachings accessible to a global audience. His works include translations of the Bhagavad Gita, the
    Srimad Bhagavatam, the Caitanya Caritamrita, and many other texts.
    Srila Prabhupada's contributions and teachings have left a lasting impact on the modern spiritual landscape, and
    ISKCON continues to thrive as a worldwide spiritual and cultural movement. His followers revere him as a pure
    devotee and a spiritual guide who brought the ancient wisdom of the Bhakti tradition to the contemporary world.
</p>