<div class="aboutus">
    <img src="" class="img-1">
    <p class="description">Lorem ipsum dolor sit amet consectetur. Morbi libero elit nunc hendrerit faucibus malesuada
        ultrices ut sed. Parturient sed ut amet egestas volutpat. Tortor viverra in habitant senectus. Semper pulvinar
        consequat leo ut. Orci lacus non ac ornare nibh rutrum ac enim fames. Lacus consectetur tempor mattis risus.
        Ultricies at ornare ornare volutpat at ut. Turpis posuere sit eget tortor tempus etiam sed aliquet ac. Lobortis
        arcu volutpat euismod in fringilla faucibus urna. In ut sed etiam dolor nulla enim purus. Consectetur habitant
        commodo ultrices vestibulum quis. Aenean nibh aliquam nunc egestas orci quis eu consectetur egestas. Nibh diam
        cursus rhoncus condimentum enim feugiat. Nunc ultrices semper vel ac leo aliquet. Varius velit metus aliquet
        aliquam vel adipiscing morbi nulla euismod. Porttitor aliquet amet dolor arcu. Viverra venenatis facilisi tempor
        vitae quis turpis faucibus. Et in facilisis interdum a tortor. In semper dui lacinia donec. Eget sed amet nibh
        massa nunc orci quisque cras. Quis eu ut nisi nullam at. Tincidunt amet sed eu dui. Tortor quis mattis integer
        dictumst. Purus bibendum sodales lobortis sed. Dignissim ultrices tellus sem placerat suscipit ultrices nisi. Ut
        vel vitae pretium et convallis odio massa blandit amet. Enim facilisis varius feugiat lacus viverra euismod.
        Vestibulum gravida donec posuere risus. In tellus sem vitae imperdiet. Quam natoque pellentesque tellus lectus
        luctus. Fames massa ultricies viverra congue nulla. Turpis nunc ornare augue ut habitant. Elementum massa neque
        risus id ultricies velit. Eget diam magna tellus vivamus lorem in. In urna adipiscing aliquet tempus in metus.
        Amet maecenas fames non enim augue. At donec eu pellentesque nibh. Fringilla interdum montes consequat tristique
        amet feugiat sagittis posuere enim. At enim ornare risus blandit urna semper interdum vel tempor. Ut eget
        condimentum egestas iaculis nec at penatibus scelerisque. Amet tristique enim hendrerit aliquam maecenas. Ornare
        eget eu viverra tristique facilisis praesent magna sagittis.</p>
</div>