.aboutus {
    height: 1456px;
    width: 1365px;
    top: 100px;
}

#img-1 {
    top: 370px;
    left: 50%;
    width:40%;
    display:flex;
    position: absolute;
    transform: translate(-50%,-50%);
    background-size: (100%,100%);
}

#description {
    display:block;
    position: absolute;
    padding-left: 1.3cm;
    top: 500px;
    font-size: 20px;
    text-align: justify;
    padding-right: 1cm;
}