<div class="popup">
    <button class="close-btn" mat-dialog-close>&times;</button>
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="submit()" >
        <div class="input-group">
            <div class="input-field">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Full Name" label="name" formControlName="name" required >
            </div>
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Email">
            </div>
            <div class="input-row">
                <div class="input-field">
                    <i class="fa-solid fa-phone"></i>
                    <input type="tel" pattern="[0-9]{10}" placeholder="Phone No">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-venus-mars"></i>
                    <input type="text" placeholder="Gender">
                </div>
            </div>
            <!--
          <div class="input-field">
            <select name="gender">
              <option value="" ></option>
              <option value="male">Male</option>
              <option value="female">Female</option>
  
            </select>
          </div>
        -->
            <div class="input-row">
                <div class="input-field">
                    <input type="password" placeholder="Password">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Repeat Password">
                </div>
            </div>

        </div>
        <div class="ca">
            <button type="submit" id="createaccount">CREATE ACCOUNT</button>
        </div>
    </form>
</div>