<div class="footer">
    <img class="background" src="/assets/background.png">
    <img class="picture" src="/assets/picture.jpeg">
    <div class="info">
        <div class="contactUs">CONTACT US</div>
        <ul class="address">ADDRESS:
            <li class="textBlock">ISKCON BHAKTI CENTER , </li>
            <li class="textBlock">Kannamangala - 560067</li>
            <li class="textBlock">Helpline : 08256 - 266666</li>
            <li class="textBlock">Office : 08256 266655E </li>
            <li class="textBlock">Mail : connect@iskconbanglore.org</li>
        </ul>
        <br>
        <div class="officeTimings">OFFICE TIMINGS :</div>
        <div class="timings">
            <div class="textBlock">Morning : 09:30 AM to 2 PM</div>
            <div class="textBlock">Evening : 4 PM to 9 PM</div>
        </div>
    </div>